
my-frontendTemplate/app/src/sass/header.min.css
my-frontendTemplate/docs/css/assets/fonts/fontawesome-webfont.eot
my-frontendTemplate/docs/css/assets/fonts/fontawesome-webfont.svg
my-frontendTemplate/docs/css/assets/fonts/fontawesome-webfont.ttf
my-frontendTemplate/docs/css/assets/fonts/fontawesome-webfont.woff
my-frontendTemplate/docs/css/assets/fonts/FontAwesome.otf
my-frontendTemplate/docs/css/assets/images/favicon.ico
my-frontendTemplate/docs/css/assets/images/frontnote.png
