.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

//(幅768~991pxまで)
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

//(幅992~1199pxまで)
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

//(幅1200px以上)
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}