<% include parts/_head %>
    <body>
        <% include parts/_header %>
            <div class="contents">
            </div>
            <!--end contents-->
            <% include parts/_footer %>
                <% include parts/_script %>








