.hoge
{
    width: 100%;
}

.huga
{
    width: 50%;
}

.footer
{
    width: 100%;
}

.guga
{
    padding: 10px;
}

.header
{
    width: 100%;
}

body
{
    font-size: 20px;

    padding: 30px;

    background: peru;
}

.hoge
{
    width: 100%;
}
