<!-- start header -->
<header class="l-header" id="header">
    <!-- start-navigation -->
    <nav class="navigation clearfix">
        <ul>
            <li class="navigation-item navigation-item-a"></li>
            <li class="navigation-item navigation-item-b"></li>
            <li class="navigation-item navigation-item-c"></li>
            <li class="navigation-item navigation-item-d"></li>
            <li class="navigation-item navigation-item-e"></li>
        </ul>
    </nav>
    <!-- end-navagation -->
</header>
<!-- end header -->