.header {
    /* component styles */
    width: 100%;
  
    .logo {
      /* override module styles */
    }
  
    .btn {
      /* override module styles */
    }
  }

body{
  background: peru;
  font-size: 20px;
  padding: 30px;

}