
<div class="profile">
    <div class="profile-contents">
        <div class="profile-text">
            <p class="profile-name txt_white"><span class="bold name-bold">阿部大治</span>プロフィール</p>
            <p class="txt_white">
                <span class="pro_text01">1991年11月27日、新潟・柏崎生まれ。豊栄高時代は柔道部所属。</span>
                卒業後に同市のキックボクシングジムに入門。J-NETWORKライト級王座を獲得。米ハワイのHMCで総合格闘技を始める。16年4月に総合格闘技デビューし、1回TKO勝ち。17年7月にパンクラス・ウエルター級王者の三浦広光を下して新王者に。同7月にUFCと契約。180センチ、77キロ。
            </p>
        </div>
        <div class="profile_pic">
            <img src="images/toppage/profile_photo.png" alt="阿部大治プロフィール写真">
        </div>
    </div>
</div>


<div class="white_space">
</div>

<footer class="l-footer">
    <div class="footer_copyright">
        <h4 class="bold"><span class="txt_red">©阿部大治　後援会</span></h4>
        <p><a href="http://madmaniac.jp" >directed by MadMANIA©</a️></p>
    </div>
</footer>
<!-- end l-footer -->

</div>
<!--end wrapper-->