<div class="l-wrapper">
    <header class="l-header">
        <div class="header-inner clearfix">
            <p class="header-logo">
           <img src="" alt="">
            </p>

            <!--header-menu-sp-->
            <div class="header-spnav clearfix">
                <a href="" id="js-l-header-spnav" class="js-l-header-navmenu"><span></span></a>
            </div>
            <nav id="js-header-nav" class="header-nav">
                <ul class="header-globalNav">
                    <li class="header-nav-list"><a class="header-nav-item" href="#"></a></li>
                    <li class="header-nav-list"><a class="header-nav-item" href="#"></a></li>
                    <li class="header-nav-list"><a class="header-nav-item" href="#"></a></li>
                    <li class="header-nav-list"><a class="header-nav-item" href="#"></a></li>
                </ul>
            </nav>
        </div>
    </header>
    <!-- end header -->

