
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.min.js"></script>
<script src="js/lib/slick.min.js"></script>
<script type="text/javascript" src="js/lib/ofi.min.js"></script>
<script type="text/javascript" src="js/app.js"></script>

<!--トリミング用JS-->
<script>
	objectFitImages('js-image-switch');
</script>
<!--トリミング用JS-->

</body>
</html>